body{padding: 20px;}
			h3>a{
				color: skyblue;
				font-family: "微软雅黑";
			}
			#nav{
				border-bottom: 1px solid #ccc;
			}
			.lsyg{
				box-shadow: 0px 0px 20px #333;
			}
			.lsyg:hover{
				transition: all 0.5s;
				box-shadow: 0px 20px 20px #333;
			}